{% extends "studentinfo/base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1> Home </h1>
        <p> Welcome to the student center! Use the navigation bar to look around! </p>
    </div>
</div>


<div class="container">
    <h2 class="display-4">Oak State University</h2>
    <br />
    <br />
    <br />

</div>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Covid-19</h3>
            <p>As Covid-19 continues to affect our community, Oak State University will be at your service with resources. We have started a local student food bank along with an emergency fund you can apply to at www.helpme.com </p>
        </div>
        <div class="col-md-4">
            <h3>2020-2021 Planning Ahead</h3>
            <p>We will be closely monitoring the Covid-19 situation as the upcoming year nears. We will take all necessary precautions to ensure the safety of our staff and students, but hope to see you all back on campus in the Fall. </p>
        </div>
        <div class="col-md-4">
            <h3>Class of 2020</h3>
            <p>We are excited to celebrate the graduation of our 2020 class with a virtual graduation that will be taking place on May 16th. We look forward to being able to host a traditional ceremony in the Fall once social distancing orders are uplifted.</p>
        </div>
    </div>
</div>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Check out these stats!</h2>
    <p style = "margin-left: 50px; margin-right:50px" class="lead">Oak University prides itself on its exceptional program offerings and dedicated staff. We deliver well rounded curriculum to ensure graduates are well on their way to an empowering career.</p>
</div>


<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">3.6</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>the impressive average</li>
                    <li>GPA at OSU</li>

                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">94%</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>the percentage of</li>
                    <li>graduates who are</li>
                    <li>hired within a month</li>
                    <li>of graduation</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">19</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>the number of award</li>
                    <li>winning courses offered</li>
                    <li>from our exceptional</li>
                    <li>staff</li>
                </ul>
            </div>
        </div>
    </div>




    {% endblock %}
