{% extends "studentinfo/base.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1> Student Details </h1>
        <p>Here you will find an overview of our student body! </p>
    </div>
</div>


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Major</th>
                <th>Year</th>
                <th>GPA</th>
            </tr>
        </thead>
        <tbody>
            {% for row in sdata %}
            <tr>
                <td>{{ row.firstname }}</td>
                <td>{{ row.lastname }}</td>
                <td>{{ row.major }}</td>
                <td>{{ row.year }}</td>
                <td>{{ row.gpa  }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if sdata.has_previous %}
            <a href="?page=1">&laquo;first</a>
            <a href="?page={{ sdata.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ sdata.number }} of {{ sdata.paginator.num_pages }}
            </span>
            {% if sdata.has_next %}
            <a href="?page={{ sdata.next_page_number }}">next</a>
            <a href="?page={{ sdata.paginator.num_pages}}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}